body{
    background-color: #373737;
    min-height: 100vh;
    font-family: sans-serif;
}

.content{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 20px;
}

.red{
    animation: red 4s infinite both;
}

.green{
    animation: green 4s infinite both;
}

.yellow{
    animation: yellow 4s infinite both;
}

.blue{
    animation: blue 4s infinite both;
}

@keyframes red{
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(100px, 0);
    }

    50% {
        transform: translate(100px, 100px);
    }

    75%{
        transform: translate(0, 100px);
    }

    100% {
        transform: translate(0, 0);

    }
}

@keyframes green{
    0% {
        transform: translate(100px, 0);
    }

    25% {
        transform: translate(100px, 100px);
    }

    50% {
        transform: translate(0px, 100px);
    }

    75%{
        transform: translate(0, 0);
    }

    100% {
        transform: translate(100px, 0);

    }
}

@keyframes yellow{
    0% {
        transform: translate(100px, 100px);
    }

    25% {
        transform: translate(0px, 100px);
    }

    50% {
        transform: translate(0px, 0);
    }

    75%{
        transform: translate(100px, 0);
    }

    100% {
        transform: translate(100px, 100px);

    }
}

@keyframes blue{
    0% {
        transform: translate(0px, 100px);
    }

    25% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(100px, 0);
    }

    75%{
        transform: translate(100px, 100px);
    }

    100% {
        transform: translate(0, 100px);
    }
}

.box{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    border-radius: 5px;
}

.red{
    background-color: #ff0506;
    transform: translate(0, 0);
}

.green{
    background-color: #068304;
    transform: translate(100px, 0);
}

.yellow{
    background-color: #ffff03;
    transform: translate(100px, 200px);
}

.blue{
    background-color: #0403ff;
    transform: translate(0, 100px);
}

.title{
    width: 100%;
    position: absolute;
    bottom: -120px;
    left: -20px;
    color: #fffff2;
    font-weight: 700;
    font-size: 52px;
}


